@import '../../../styles/baseStyles';

.panel {
  min-height: 100vh;
  width: 100%;
  .inner {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
};

@include forDesktopUp {
  .panel {
    ///animation: fadeIn .3s ease-in-out forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $black-1;
      overflow: hidden;
      margin: auto;
      max-width: $desktopMaxWidth;
      min-width: $desktopMinWidth;
      height: 80vh;
      border-radius: 1rem;
      width: $desktopWidth;
    }
  }
}