# dependencies
client/node_modules/
server/node_modules/
signalingServer/node_modules/
signalingServer/
client/.pnp
client/.pnp.js

# testing
client/coverage

# next.js
client/.next/
client/out/

# production
client/build

# misc
client/.DS_Store
client/*.pem

# debug
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

# local env files
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
server/.env

# vercel
client/.vercel

#gitignores
client/.gitignore
server/.gitignore

#eslimtrc
client/.eslintrc.json

signalingServer/
client/src/utils/frontend/webrtc/trash
client/pages/test/