@import '../../../styles/baseStyles';

.logoButton {
  display: block;
  background: transparent;
  position: relative;
  border-radius: 50%;
  transition: background-color .3s ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  cursor: pointer;
  border: none;
  .imageWrapper {
    opacity: .5;
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    transition: opacity .3s ease-in-out;
    z-index: 10;
  }
  .name {
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(0%,-50%);
    color: $white-0;
    flex-grow: 1;
    // background-color: red;
    white-space: nowrap;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    transition: left .3s ease-in-out, opacity .3s ease-in-out;
  }
  &:hover{
    background: transparentize( $highlight, .5 );
    // width: 12rem;
    // border-radius: .4rem;
    .imageWrapper {
      opacity: 1;
    }
    .name {
      left: 125%;
      opacity: 1;
    }
  }
}