@import '../../../styles/baseStyles';

.logoButton {
  display: block;
  background: transparent;
  border-radius: .4rem;
  transition: 
    background-color .3s ease-in-out,
    opacity .3s ease-in-out;
  padding: 0;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  .imageWrapper {
    padding: .5rem;
    transition: opacity .3s ease-in-out;
    z-index: 10;
    svg {
      color: $white-0;
      width: 1.5rem;
      height: 1.5rem;
      transition: color .3s ease-in-out;
    }
  }
  .name {
    transition: color .3s ease-in-out;
    color: $white-0;
    padding: .5rem;
  }
  &:hover{
    background: $highlight;
    .name, svg {
      color: $black-0;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    opacity: .5;
    &:hover{
      cursor: not-allowed;
      background: transparent;
      .name, svg {
        color: $white-0;
      }
    }
  }
}