@import '../../../../styles/baseStyles';

.connectionTypeSwitch {
  background: $black-2;
  display: flex;
  margin-bottom: 1rem;
  position: relative;
  border-radius: .5rem;
  button {
    width: 50%;
    background: transparent;
    border: none;
    color: $white-0;
    font-size: 1rem;
    font-weight: 500;
    padding: .8rem;
    &:not(.active):hover {
      cursor: pointer;
    }
    &:not(.active):hover, &:not(.active):focus-visible {
      background: transparentize($highlight, .95);
    }
    &.active {
      background: $highlight;
      background: transparentize($highlight, .85);
      color: $highlight;
    }
  }
  
}

@include forDesktopUp {
  .connectionTypeSwitch {
    // border-radius: 1rem;
  }
}