@import '../../../../styles/baseStyles';

.verifyCallModalInner {
  width: 100%;
  margin: 0 2rem;
  padding: 2rem;
  border-radius: 1rem;
  background: $black-1;
  position: relative;
  overflow: hidden;

  .title, .subtitle {
    padding-bottom: 1rem;
    text-align: center;
    line-height: 150%;
  }
  .title {
    font-size: 1.15rem;
  }
  .subtitle {
    font-size: .95rem;
  }

  .emojiSection {
    padding-top: 2rem;
  }

  .progress {
    position: absolute;
    left: 0;
    bottom: -.25rem;
    height: .25rem;
    width: 105%;
    background: $highlight;
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 1rem 0 $highlight;
    border-radius: 1rem;
  }

  .emojisWrapper{
    position: relative;
    width: 100%;
    height: 2rem;
    overflow: hidden;
    .group{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      align-items: center;
      text-align: center;
      transition: transform .15s ease-in-out, opacity .15s ease-in-out;
      .item{
        &:not(:last-child) {
          margin-right: .5rem;
        }
        font-size: 1.25rem;
        display: inline;
      }
    }
  }

  .position {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .item {
      width: .5rem;
      height: .5rem;
      background: $white-0;
      border-radius: 50%;
      transform: scale(.7) translateY(2rem);
      opacity: .25;
      transition: background-color .15s ease-in-out, transform .3s ease-in-out, opacity .15s ease-in-out;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      &.done {
        opacity: 1;
        background-color: $highlight;
        transform: scale(1.25);
      }
    }
  }

  .confirmButton {
    background-color: $green-0;
    color: $white-0;
    border: none;
  }

  .buttonsSection {
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    .backButton, .nextButton {
      padding: .5rem;
      border-radius: 50%;
      width: 2.25rem;
      height: 2.25rem;
      display: block;
      border: none;
      position: relative;
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
      }
      &:disabled {
        background-color: $black-1;
        opacity: .5;
      }
    }
    .backButton {
      background: transparent;
      color: $white-0;
    }
    .nextButton {
      background: $highlight;
      color: $black-1;
    }
  }
}

@include forDesktopUp {
  .verifyCallModalInner {
    max-width: 500px;

    .emojisWrapper {
      .group {
        .item {
          &:not(:last-child) {
            margin-right: .75rem;
          }
          font-size: 1.75rem;
        }
      }
    }
  }
}