@import '../../../../styles/baseStyles';

.notificationWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  .notification{
    pointer-events: all;
    margin: 2rem;
    box-shadow: 0 0 1rem #0000007e;
    padding: .8rem 2rem;
    width: calc(100% - 4rem);
    margin: 0 auto;
    background: transparentize(  $black-2, .05 );
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
  }
  z-index: 300;
}

@include forDesktopUp {
  .notificationWrapper {
    .notification {
      width: 100%;
      max-width: 600px;
    }
  }
}