@import '../../../styles/baseStyles';

.background {
  // display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
.boxWrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.hero {
  z-index: 10;
  width: 100%;
  height: 90vh;
  position: relative;
  .title {
    @include headingFont;
    @include title;
    padding-top: 5vh;
    padding-bottom: 2vh;
  }
  .info {
    padding-bottom: 5vh;
    font-size: 1.5rem;
    strong {
      background: $highlight;
      color: $highlight;
      padding: .1rem;
      transition: color .1s ease-in-out;
      &:hover {
        color: $black-2;
      }
    }
  }
  .features{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    .feature{
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      p {
        margin-left: 1rem;
      }
      svg {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
  .buttonsSection {
    :not(:last-child){
      margin-bottom: 1rem;
    }
  }
  .buttonSection{

    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    button:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;

    .subText {
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: center;
      height: 100%;
      a {
        color: $highlight;
        padding-left: .25rem;
        text-shadow: 0 0 1rem transparent;
        transition: text-shadow .3s ease-in-out;
        &:hover, &:focus {
          text-shadow: 0 0 1rem $highlight;
        }
      }
    }

  }
  .column:not(:first-child){
    display: none;
  }
}

@include forDesktopUp {
  .hero {
    position: relative;
    height: 100%;
    .title {
      padding-top: 0;
    }
    .imagesWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      img {
        position: absolute;
        object-fit: contain;
        width: 70%;
        // height: 15vh;
        top: 50%;
        left: 50%;
        &:nth-child(1) {
          transform: translate(-60%, -70%);
        }
        &:nth-child(2) {
          transform: translate(-40%, -30%);
        }
      }
    } 
    .info {
      padding-bottom: 15vh;
    }
    .features{
      margin-bottom: 2rem;
      .feature{
        width: 50%;
        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    .buttonsSection {
      display: flex;
      :not(:last-child){
        margin-bottom: 0;
        margin-right: 1rem;
      }
    }
    .columnsWrapper {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      height: 100%;
      .column{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        width: 50%;
      }
    }
    .footer {
      flex-direction: row;
      align-content: center;
      align-items: center;
    }
  }
}